.gericht__subHeader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: var(--color-white);
  font-family: var(--font-base);
  font-size: 23px;
}
@media screen and (min-width: 2000px) {
  .gericht__subHeader {
    font-size: 27px;
  }
}
@media screen and (max-width: 850px) {
  .gericht__subHeader {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .gericht__subHeader {
    font-size: 16px;
  }
}
