.App {
  align-items: center;
  width: 100%;
}
.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  background-image: url(/src/assets/bg.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}
.section__bg {
  background: url("./assets/bg.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
}

@media screen and (max-width: 450px) {
  .section__padding {
    padding: 2rem 2rem;
  }
}
